<header>
	<a class="logo" href="/" alt="Structsy Logo" > <img src="/logo.png"/><h1>Structsy </h1> </a> 
    <input type="checkbox" id="topSwitch" class="collapse-switch">
    <div class="collapse-toggle switch">
        <label for="topSwitch">
            Resources
        </label>
    </div>

	<div class="overview collapsable">
		<nav>
			<a href="https://matrix.to/#/#structsy_rs:matrix.org"> Matrix chat </a>
			<a href="https://fosstodon.org/@structsy_rs"> Mastodon </a>
			<a href="https://gitlab.com/tglman/structsy"> Source Repo </a>
			<a href="https://crates.io/crates/structsy"> Crates.io </a> 
			<a href="https://gitlab.com/tglman/structsy/issues"> Issues </a>
		</nav>
	</div>
</header>

<input type="checkbox" id="sideSwitch" class="collapse-switch">
<div class="collapse-toggle switch">
    <label for="sideSwitch">
        Menu
    </label>
</div>
<section class="menu collapsable">
	<nav>
		<a href="/"> What's Structsy </a><br/>
		<a href="/release_0_5.html"> Structsy 0.5</a><br/>
		<a href="/get_started.html"> Get Started </a><br/>
		<a href="/queries.html"> Queries </a><br/>
		<a href="/persistence.html"> Persistence </a><br/>
		<a href="/indexing.html"> Indexing </a><br/>
		<a href="/blog.html">Blog</a><br/>
		<a href="/past_releases.html"> Past Releases</a><br/>
		<a href="/why.html"> Why? </a><br/>
	</nav>
    <script src="https://liberapay.com/Structsy/widgets/button.js"></script>
    <noscript><a href="https://liberapay.com/Structsy/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
</section>

