a {
    color:#b58900;
}
a:hover {
    color:#2aa198;
}

body {
    background-color:#002b36;
}

body > .main {
    font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size:large;
    min-width:300px;
    width:80%;
    margin:auto;
    color:#eee8d5;
}
h1, h2, h3, h4, h5, h6 {
    color: orange;
}
.main > header {
    min-height:160px;
}

header > .logo {
    padding-right: 10px;
}

@media (min-width: 992px) {
    header > .logo {
        float:left;
    }
}
header > .logo > img {
    height:150px;
    padding-right: 30px;
}
header > .logo > h1 {
    padding-top: 10px;
    float:right;
    font-weight:bold;
    font-size:3em;
}

header .overview {
    margin-left:auto;
    margin-right:0;
    max-width:38em;
}

header .overview > nav {
    padding:15px 0;
    border-radius:15px;
    background-color:#002b36;
}
header .overview > nav > a {
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    font-size:1.2em;
    display:block;
}

.content >header > h1 {
    text-align:center;
    font-size:2.5em;
}
.main > .menu {
    float:left;
    clear:both;
}
.menu > nav >a {
    padding-top:10px;
    display:block;
}
.main > .content {
    float:right;
    width:100%;
}

@media (min-width: 992px) {
    .main > .content {
        width:85%;
    }
    .main > .menu {
        padding-top:50px;
        width:12%;
    }
    header .overview > nav > a {
        display:inline;
    }
    header .overview {
        padding-top: 40px;
        float:right;
    }
}
footer {
    clear:both;
    width:100%;
}
pre {
    padding-left:2em;
    padding-top:1em;
    padding-bottom:1em;
    border-style: solid;
    border-width: 1px;
}


.switch {
    display:block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.switch > label{
    border-width: 2px;
    font-weight: bold;
    border-style: solid;
    border-color: orange;
    color: orange;
    padding: 0.8em;
}


.collapse-switch {
    display: none;
}

.collapse-toggle {
    display: block;
}

.collapse-switch:checked ~ .collapsable {
    display: block;
}

.collapsable {
    display:none;
}

@media (min-width: 992px) {
    .collapsable {
        display:block;
    }
    .collapse-toggle {
        display: none;
    }
}

