<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<link href="/static/main.css" rel="stylesheet"/>
        <title>Structsy.rs</title>
    </head>
    <body >
	    <div class="main">
{% include 'page_header.liquid' %}
      <section class="content">
		<header>
			<h1>{{page.title}}</H1>
		</header>
        {{ page.content }}
      </section>
      {% include 'page_footer.liquid' %}
	    </div>
    </body>
</html>

